<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col offset="4">
            <ion-avatar>
              <img src="/assets/img/login.png">
            </ion-avatar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset="4">
            <h1>Login</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-item>
          <ion-input type="email" placeholder="E-mail"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>
          <ion-button color="primary" class="ion-margin-top" expand="full">Entrar</ion-button>
      </form>
      <ion-row class="ion-align-items-end ion-margin-top">
        <ion-col size="12">
          <a class="ion-float-right" href="javascript:;" routerLink="/cadastro/usuario">Quero me cadastrar</a>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>