<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Seus próximos compromissos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let evento of eventos">
    <ion-card-header>
      <ion-card-title>{{ evento.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-chip outline="true" color="primary">
        <ion-icon name="pin" color="primary"></ion-icon>
        <ion-label>{{ evento.local }}</ion-label>
      </ion-chip><br />
      <ion-chip outline="true" color="primary">
        <ion-icon name="time" color="primary"></ion-icon>
        <ion-label>{{ evento.dataEvento | date: 'dd/MM/yy hh:mm'}}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/cadastro/evento">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>